* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #2B2B2B;
  color: white;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;
}

.btn {
  border-radius: 20px;
  font-size: 15px;
  border: none;
  padding: 10px 30px 10px 30px;
}

.btn:hover {
  cursor: pointer;
}

.btn-add {
  margin-top: 10px;
  background-color: #E2412E;
  color: white;
}

.btn-view {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  width: 100px;
}

.navbar {
  background-color: #3B3B3B;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-nav {
  background-color: white;
  width: 100px;
  padding: 10px 0px 10px 0px;
}

.btn-nav:hover {
  background-color:#E2412E;
  color: white;
}

.heading {
  text-align: center;
  margin-top: 100px;
  font-weight: 300;
}

.cont {
  background-color: #3B3B3B;
  width: 80%;
  border-radius: 20px;
  margin: 100px auto 100px auto;
  padding: 25px 0px 25px 0px;
}

form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80%;
  font-size: 20px;
  gap: 10px;
  justify-content: center;
}

.form-input-container {
  display: inline;
}

input {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 20px;
  height: 40px;
  padding: 0px 20px 0px 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

label {
  margin-left: 10px;
}

.cont-invalid {
  text-align: center;
  margin-top: 5px;
}

.invalid-text {
  color: #E2412E;
  font-size: 13px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  font-size: 20px;
  width: 75%;
  margin: 30px auto 0px auto;
}

li {
  background-color: #009379;
  border-radius: 20px;
  padding: 20px 20px 28px 20px;
  color: black;
  margin-bottom: 10px;
}

.cus-name {
  font-size: 20px;
  color: white;
}

.cus-email {
  margin-bottom: 20px;
  font-size: 13px;
  color: white;
}

.form-create-history {
  margin: 30px 0px 0px 0px;
  grid-template-columns: 80%;
  row-gap: 20px;
  justify-content: center;
}

.sub-heading {
  text-align: center;
  margin-top: 50px;
}

textarea {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  outline: none;
  box-sizing: border-box;
}

.cont-cust-page {
  background-color: #3B3B3B;
  width: 70%;
  border-radius: 20px;
  margin: 100px auto 100px auto;
  padding: 25px 25px 25px 25px;
}

.history-date {
  color: white;
  margin-bottom: 10px;
}

.history-info {
  color: white;
  font-size: 13px;
  margin-bottom: 20px;
}

.notification {
  width: 65%;
  margin: 20px auto 0px auto;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

@media (min-width: 576px) {
  .cont {
    width: 60%;
  }

  .cont-cust-page {
    width: 60%;
  }

  ul {
    width: 60%;
  }
}

@media (min-width: 576px) {
  .cus-email {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .cont {
    width: 25%;
  }

  .cont-cust-page {
    width: 35%;
  }
}

@media (min-width: 1400px) {
  ul {
    width: 50%;
  }
}